/* clear */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* main */
body { line-height: 18px; font-family: Helvetica, Arial, sans-serif; font-size: 13px; color: #555555; text-shadow: 1px 1px 1px #ffffff; background: #eff0ef url(images/top-bg.png) repeat-x; min-width: 960px; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: #00b7f3; }
a:hover { text-decoration: underline; }
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6 { padding-bottom: 5px; color: #808080; letter-spacing: -1px; line-height: 1em; font-weight: normal; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 10px; line-height: 18px; }
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#fff; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* main content */
.main-area { background: #e9e8e8 url(main-area.png) repeat-x top left; border-bottom: 1px solid #cdcccc; }

/* tabs */
ul.main-tabs { position: absolute; top:-102px; left: 0px; }
ul.main-tabs li { float: left; }
ul.main-tabs li.ui-state-active { background:url(active-tab2.png) 0px 6px no-repeat; }
ul.main-tabs li a { text-decoration: none; display: block; padding: 47px 9px 18px; height: 39px; width: 188px; text-align: center; }
ul.main-tabs strong { text-transform: uppercase; color: #555555; font-weight: bold; text-shadow: 1px 1px 1px #fff; font-size: 21px; letter-spacing: -1px; }
ul.main-tabs span { color:#000000; display:block; font-size:18px; text-shadow:1px 1px 1px #fff; letter-spacing: -1px; line-height: 5px;}
.tab-slide { padding-top: 46px; }
.tab-slide .content-area { padding: 0 50px; }

/* featured */
.featured { margin-bottom: 125px; }
.featured-img { display:block; float:left; padding:4px; position:relative; }
.featured .description { float: right; width: 466px; padding-top: 23px; }
.featured h2.title { font-size: 60px; line-height: 50px; }
.featured h2.title a { text-decoration: none; color: #555; }
.featured .description p { font-size: 24px; margin-top: 17px; }
.featured_content, .slide { width: 960px; }

/* footer */
.footer { border-top: 1px solid #fff;  }
.copyright { float:right; font-size:12px; color:#555555; text-shadow: 1px 1px 1px #fff; padding: 30px 0px; }

